# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Added by CoZ developers
vendor/
bin/

# text editors
# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# goland
.idea/*

# anthdm todolists
/pkg/vm/compiler/todo.md

# leveldb 
chains/
chain/
blockchain/
blockchains/
