[Unit]
Description=Neo Go node
Requires=network.target

[Service]
Type=simple
ExecStart=BINDIR/neo-go node --mainnet --config-path=SYSCONFIGDIR/neo-go
User=neo-go
Group=neo-go
Restart=always
RestartSec=5
StandardError=syslog
SyslogIdentifier=neo-go
PrivateTmp=true
WorkingDirectory=UNITWORKDIR

[Install]
WantedBy=multi-user.target
