ProtocolConfiguration:
  Magic: 42
  MaxTraceableBlocks: 200000
  TimePerBlock: 100ms
  MemPoolSize: 100
  StandbyCommittee:
    - 02b3622bf4017bdfe317c58aed5f4c753f206b7db896046fa7d774bbc4bf7f8dc2
  ValidatorsCount: 1
  VerifyBlocks: true
  VerifyTransactions: true
  P2PSigExtensions: true
  NativeActivations:
    ContractManagement: [0]
    StdLib: [0]
    CryptoLib: [0]
    LedgerContract: [0]
    NeoToken: [0]
    GasToken: [0]
    PolicyContract: [0]
    RoleManagement: [0]
    OracleContract: [0]
    Notary: [0]
  Hardforks:
    Aspidochelone: 25

ApplicationConfiguration:
  # LogPath could be set up in case you need stdout logs to some proper file.
  # LogPath: "./log/neogo.log"
  DBConfiguration:
    Type: "inmemory" #other options: 'inmemory','boltdb'
    # DB type options. Uncomment those you need in case you want to switch DB type.
  #    LevelDBOptions:
  #        DataDirectoryPath: "./chains/unit_testnet"
  #    BoltDBOptions:
  #      FilePath: "./chains/unit_testnet.bolt"
  #  Uncomment in order to set up custom address for node.
  #  Address: localhost
  NodePort: 0
  Relay: true
  DialTimeout: 3
  ProtoTickInterval: 2
  PingInterval: 30
  PingTimeout: 90
  MinPeers: 0
  MaxPeers: 10
  AttemptConnPeers: 5
  UnlockWallet:
      Path: "../testdata/wallet1_solo.json"
      Password: "one"
  P2PNotary:
    Enabled: false
    UnlockWallet:
      Path: "/notary_wallet.json"
      Password: "pass"
  RPC:
    MaxGasInvoke: 15
    Enabled: true
    Addresses:
      - "localhost:0" # let the system choose port dynamically
    EnableCORSWorkaround: false
  Prometheus:
    Enabled: false #since it's not useful for unit tests.
    Addresses:
      - ":2112"
  Pprof:
    Enabled: false #since it's not useful for unit tests.
    Addresses:
      - ":2113"
