ProtocolConfiguration:
  Magic: 91414437
  MaxTraceableBlocks: 2102400
  InitialGASSupply: 52000000
  SecondsPerBlock: 15
  MemPoolSize: 50000
  StandbyCommittee:
  - 026fa34ec057d74c2fdf1a18e336d0bd597ea401a0b2ad57340d5c220d09f44086
  - 039a9db2a30942b1843db673aeb0d4fd6433f74cec1d879de6343cb9fcf7628fa4
  - 0366d255e7ce23ea6f7f1e4bedf5cbafe598705b47e6ec213ef13b2f0819e8ab33
  - 023f9cb7bbe154d529d5c719fdc39feaa831a43ae03d2a4280575b60f52fa7bc52
  - 039ba959e0ab6dc616df8b803692f1c30ba9071b76b05535eb994bf5bbc402ad5f
  - 035a2a18cddafa25ad353dea5e6730a1b9fcb4b918c4a0303c4387bb9c3b816adf
  - 031f4d9c66f2ec348832c48fd3a16dfaeb59e85f557ae1e07f6696d0375c64f97b
  ValidatorsCount: 7
  SeedList:
  - morph1.fs.neo.org:40333
  - morph2.fs.neo.org:40333
  - morph3.fs.neo.org:40333
  - morph4.fs.neo.org:40333
  - morph5.fs.neo.org:40333
  - morph6.fs.neo.org:40333
  - morph7.fs.neo.org:40333
  VerifyBlocks: true
  VerifyTransactions: true
  P2PSigExtensions: false
  Hardforks:
    Aspidochelone: 2550000
  NativeActivations:
    ContractManagement: [0]
    StdLib: [0]
    CryptoLib: [0]
    LedgerContract: [0]
    NeoToken: [0]
    GasToken: [0]
    PolicyContract: [0]
    RoleManagement: [0]
    OracleContract: [0]

ApplicationConfiguration:
  # LogPath could be set up in case you need stdout logs to some proper file.
  # LogPath: "./log/neogo.log"
  DBConfiguration:
    Type: "leveldb" #other options: 'inmemory','boltdb'
    # DB type options. Uncomment those you need in case you want to switch DB type.
    LevelDBOptions:
      DataDirectoryPath: "./chains/mainnet.neofs"
  #    BoltDBOptions:
  #      FilePath: "./chains/mainnet.bolt"
  #  Uncomment in order to set up custom address for node.
  #  Address: localhost
  NodePort: 40333
  Relay: true
  DialTimeout: 3
  ProtoTickInterval: 2
  PingInterval: 30
  PingTimeout: 90
  MaxPeers: 100
  AttemptConnPeers: 20
  MinPeers: 5
  Oracle:
    Enabled: false
    AllowedContentTypes:
      - application/json
  RPC:
    Enabled: true
    MaxGasInvoke: 15
    EnableCORSWorkaround: false
    Port: 40332
    TLSConfig:
      Enabled: false
      Port: 40331
      CertFile: serv.crt
      KeyFile: serv.key
  Prometheus:
    Enabled: false
    Port: 2112
  Pprof:
    Enabled: false
    Port: 2113
