ProtocolConfiguration:
  Magic: 42
  MaxTraceableBlocks: 200000
  TimePerBlock: 15s
  MemPoolSize: 50000
  StandbyCommittee:
    - 02b3622bf4017bdfe317c58aed5f4c753f206b7db896046fa7d774bbc4bf7f8dc2
    - 02103a7f7dd016558597f7960d27c516a4394fd968b9e65155eb4b013e4040406e
    - 03d90c07df63e690ce77912e10ab51acc944b66860237b608c4f8f8309e71ee699
    - 02a7bc55fe8684e0119768d104ba30795bdcc86619e864add26156723ed185cd62
    - 02c429b3ea1aa486cb2edfd6e99d8055c1f81f1a9206664e2c40a586d187257557
    - 02c4de32252c50fa171dbe25379e4e2d55cdc12f69e382c39f59a44573ecff2f9d
  ValidatorsCount: 4
  SeedList:
    - localhost:20334
    - localhost:20335
    - localhost:20336
  VerifyTransactions: true
  P2PSigExtensions: true
  NativeActivations:
    ContractManagement: [0]
    StdLib: [0]
    CryptoLib: [0]
    LedgerContract: [0]
    NeoToken: [0]
    GasToken: [0]
    PolicyContract: [0]
    RoleManagement: [0]
    OracleContract: [0]
    Notary: [0]
  Hardforks:
    Aspidochelone: 25

ApplicationConfiguration:
  SkipBlockVerification: false
  # LogPath could be set up in case you need stdout logs to some proper file.
  # LogPath: "./log/neogo.log"
  DBConfiguration:
    Type: "inmemory" #other options: 'inmemory','boltdb'
    # DB type options. Uncomment those you need in case you want to switch DB type.
  #    LevelDBOptions:
  #        DataDirectoryPath: "./chains/unit_testnet"
  #    BoltDBOptions:
  #      FilePath: "./chains/unit_testnet.bolt"
  P2P:
    Addresses:
      - ":20333" # in form of "[host]:[port][:announcedPort]"
    DialTimeout: 3s
    ProtoTickInterval: 2s
    PingInterval: 30s
    PingTimeout: 90s
    MaxPeers: 50
    AttemptConnPeers: 5
    MinPeers: 0
  Relay: true
  P2PNotary:
    Enabled: false
    UnlockWallet:
      Path: "/notary_wallet.json"
      Password: "pass"
  RPC:
    MaxGasInvoke: 15
    Enabled: true
    Addresses:
      - "localhost:0" # let the system choose port dynamically
    EnableCORSWorkaround: false
    SessionEnabled: true
    SessionExpirationTime: 2 # enough for tests as they run locally.
  Prometheus:
    Enabled: false #since it's not useful for unit tests.
    Addresses:
      - ":2112"
  Pprof:
    Enabled: false #since it's not useful for unit tests.
    Addresses:
      - ":2113"
