name: Contribution guidelines

on:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  commits_check_job:
    name: DCO check
    uses: nspcc-dev/.github/.github/workflows/dco.yml@master
